#content-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

#dashboard {
    display: grid; 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: -1;
    grid-row-end: 3;
    grid-template-rows: 0.2fr 1fr;
    grid-template-columns: 0.33fr 0.44fr 0.33fr;
    background-color: white;
    margin-left: 2.5rem;
}

