#content-container {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 3rem;
}

#dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    "dashboardNav dashboardNav"
    "mainDashboard alerts";
}

.left-container {
    width: fit-content;
}

