#dashboard-nav {
    background-color: #5B4DA7;
    padding-bottom: 1.6rem;
    box-shadow: 0px 5px 10px rgb(201, 200, 200);
    z-index: 1;
    grid-area: dashboardNav;
}

.aspects-header {
    display: flex;    
}

.aspects-container {
    margin-left: 7rem;
    margin-bottom: 1.8rem;
}

img[alt="dashboard-header-icon"] {
    margin-top: auto;
    margin-bottom: auto;
    width: 2%;
    height: 2%;
}

.aspects-header-title {
    color: white;
    word-spacing: 3px;
    margin-left: 0.7rem;
}

#person {
    background: #FFFFFF33 0% 0% no-repeat padding-box;
    padding-left: 0.6rem;
    padding-right: 7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    color: white;
}

.form-selector-container {
    float: left;
}

option {
    color: black;
    background-color: white;
    font-weight: bold;
}

.breadcrumb-container > p {
    color: white;
    margin-top: 0.5rem;
}

/* img[alt="doritos1"], img[alt="doritos2"] {
    position: absolute;
}

img[alt="doritos2"] {
    left: 75rem;
}

img[alt="doritos1"] {
    left: 55rem;
    bottom: 43rem;
} */

@media (max-width: 1920px) and (max-height: 1080px) {
    .breadcrumb-container > p {
        color: white;
        margin-top: -0.5rem;
    }

    #person {
        background: #FFFFFF33 0% 0% no-repeat padding-box;
        padding-left: 0.3rem;
        padding-right: 5rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-radius: 5px;
        color: white;
    }
}