.data-container {
    display: grid;
    grid-template-rows: 1% 99%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "graphicTitle" "graphicTitle"
    "graphic" "dataTable";
    gap: 2rem;
    grid-area: dashboardContent;
}

.graphic-title {
    grid-area: graphicTitle;
}

.graphic-container {
    grid-area: graphic;
}

.table-container {
    grid-area: dataTable;
}

.graphic-title, .graphic-container, .graphic-table-container {
    border: 1px solid black;
}