@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

.main-dashboard-container {
    grid-area: mainDashboard;
    z-index: 0;
    background-color: white;
    display: grid;
    grid-template-rows: 6% 94%;
    grid-template-areas: 
    "dashboardHeader"
    "dashboardContent";
}

.main-dashboard-header {
    display: flex;
    align-items: center;
    grid-area: dashboardHeader;
}

#graphic, #details {
    margin-top: 1.5rem;
    margin-left: auto;
    font-size: 22px;
    border: none;
    background-color: white;
}

.chosen {
    box-shadow: #50459E 0px 4px 0px 0px;
    font-weight: bold;
}

#graphic {
    margin-left: 6.3rem;
    margin-right: 2rem;
}

hr {
    background-color: #00000029;
    width: 50rem;
}

@media (max-width: 1920px) and (max-height: 1080px) {
    #graphic, #details {
        margin-top: 1.5rem;
        font-size: 19px;
        border: none;
        background-color: white;
    }

    #graphic {
        margin-left: 7.5rem;
    }
    
}

