@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

.main-dashboard-container {
    grid-column-start: -4;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    /* height: 100vh; */
    height: 100%;
    grid-template-rows: 0.2fr 1fr;
    z-index: 0;
}

.main-dashboard-header {
    grid-row: 0 / 1;
    display: flex;
    align-items: center;
}

#graphic, #details {
    margin: auto;
    font-size: 22px;
    border: none;
    background-color: white;
}

.chosen {
    box-shadow: #50459E 0px 4px 0px 0px;
    font-weight: bold;
}

#graphic {
    margin-left: 6.3rem;
    margin-right: 2rem;
}

hr {
    background-color: #00000029;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 50rem;
}