@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

.main-dashboard-container {
    grid-area: mainDashboard;
    z-index: 0;
    background-color: white;
}

.main-dashboard-header {
    display: flex;
    align-items: center;
}

#graphic, #details {
    margin-top: 1.5rem;
    margin-left: auto;
    font-size: 22px;
    border: none;
    background-color: white;
}

.chosen {
    box-shadow: #50459E 0px 4px 0px 0px;
    font-weight: bold;
}

#graphic {
    margin-left: 6.3rem;
    margin-right: 2rem;
}

hr {
    background-color: #00000029;
    width: 50rem;
}