#user-nav-container {
    display: grid;
    grid-template-rows: 3fr 5fr 3fr 1fr;
    background: white;
    height: 60vh;
    width: 20rem;
    margin-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-area: userNav;
    border-radius: 10px;
    box-shadow: 2px 3px 7px 2px rgb(201, 200, 200);
}

.user-nav-buttons {
    text-align: left;
    font-size: 18px;
    grid-column-start: 0;
    grid-column-end: 3;
    background-color: white;
    border: none;
    width: fit-content;
}

.requests {
    margin-left: 1.2rem;
}

img[alt="right-arrow"], img[alt="arrow-selected"] {
    margin-left: 2rem;
    margin-top: 0.8rem;
}

.selected {
    background-color: #50459E;
    color: white;
}

img[alt="requests"] {
    background-color: #50459E;
    border-radius: 20px;
    padding: 0.7rem;
}

img[alt="dashboard"], img[alt="configs"] {
    padding: 0.7rem;
}

img[alt="dashboard"], img[alt="configs"], img[alt="requests"], img[alt="profile"] {
    margin-left: 1rem;
}

img[alt="profile"] {
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50px;

}

.items-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    margin-top: 1.7rem;
}

.items-container:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

label {
    margin-top: 1.2rem;
    margin-left: 1.6rem;
}

.picture {
    margin: auto;
}

@media (max-width: 1920px) and (max-height: 1080px) {
    #user-nav-container {
        width: 15rem;
    }

    .items-container {
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr;
        margin-top: 1.7rem;
    }

    img[alt="dashboard"], img[alt="configs"], img[alt="requests"] {
        padding: 0.4rem;
    }

    .items-container {
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr;
        margin-top: 0.5rem;
    }

    label {
        font-size: 12px;
        margin-left: 1rem;
    }

    .user-nav-buttons {
        text-align: left;
        font-size: 12px;
        grid-column-start: 0;
        grid-column-end: 3;
        background-color: white;
        border: none;
        width: fit-content;
    }

    .selected {
        background-color: #50459E;
        color: white;
    }

    img[alt="right-arrow"], img[alt="arrow-selected"] {
        margin-left: 1.5rem;
        margin-top: 0.6rem;
    }

}