@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

label {
    color: #676A79;
    margin-left: 1rem;
}

.input-group {
    margin-top: 1.9rem;
}

body {
    background-image: url('./assets/images/curve-patterns.svg');
    background-color: #F6F6F9;
}

#form-container {
    margin: auto;
    /* border: 3px solid black; */
    width: fit-content;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 44rem;
    padding-bottom: 10rem;
    padding-top: 10rem;
    padding-left: 13rem;
    padding-right: 13rem;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    height: 2.5rem;
    width: 40rem;
    background: #5B4DA70A 0% 0% no-repeat padding-box;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    opacity: 1;
}

input[type="text"]:hover {
    cursor: pointer;
}

.login-button {
    font-size: 16px;
    color: white;
    background: #5B4DA7 0% 0% no-repeat padding-box;;
    border-radius: 10px;
    opacity: 1;
    padding: 0.8rem 6rem;
    border: none;
}

.login-button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #5B4DA7;
}
